{
  "parser": "babel-eslint",
  "plugins": [
    "prettier",
    "promise",
    "react-hooks",
    "testing-library",
    "jest-dom",
    "react"
  ],
  "extends": [
    "airbnb",
    "react-app",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "plugin:promise/recommended",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "17"
    }
  },
  "rules": {
    "react/button-has-type": "off",
    "react/jsx-fragments": 0,
    "react/jsx-props-no-spreading": 0,
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-anonymous-default-export": 0,
    "object-curly-newline": 0,
    "jest-dom/prefer-enabled-disabled": "warn",
    "jest-dom/prefer-to-have-text-content": "warn",
    "operator-linebreak": 0,
    "consistent-return": 0,
    "react/jsx-no-duplicate-props": [
      1,
      {
        "ignoreCase": false
      }
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ]
  }
}
